<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <servlet>
        <servlet-name>jerseyServlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.ebschool.rest.resource;org.codehaus.jackson.jaxrs</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <display-name>Archetype Created Web Application</display-name>
    <!--jersey and resteasy cannot live with each other-->
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.scan.providers</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.scan.resources</param-name>
        <param-value>false</param-value>
    </context-param>

    <!-- Roles -->
    <security-role>
        <description>Teachers</description>
        <role-name>teacher</role-name>
    </security-role>
    <security-role>
        <description>Students</description>
        <role-name>student</role-name>
    </security-role>
    <security-role>
        <description>Parents</description>
        <role-name>parent</role-name>
    </security-role>
    <!-- Resource / Role Mapping  -->
    <security-constraint>
        <display-name>Logged User Area</display-name>
        <web-resource-collection>
            <web-resource-name>user_resources</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>For logged users</description>
            <role-name>teacher</role-name>
            <role-name>student</role-name>
            <role-name>parent</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <!-- Login Prompt -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/error.html</form-error-page>
        </form-login-config>
    </login-config>

</web-app>